
*{
	box-sizing: border-box;
}
@media (min-width: 1200px){
	.col-lg-4 
	{	
		float: left;
		border: 2px color:solid red;
	}
	.col-lg-4{
		width: 33%;
	}


}
.container {
	position: :relative;
}
.row {
	margin-bottom: 15px;
}
.row > div {
	border: 1px solid black;
	background-color: blue;
}
